

.loading {
    margin: 0 auto;
    text-align: center;
}

.loading__text {
    font-weight: 600;
    color: #1bc98e;
    margin: 1rem 0;
}

.loading__spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #1bc98e;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}